#header{
    text-align: center ;
    margin-top: 0;
    color: gold;
    margin-right: 100px;
    margin-left: 100px;
    font-weight: bold;
    font-size: xx-large;


}
#tableheader {
    margin: auto ;
}
header{
    text-align: center ;
    height: 90px;
    background-color: red;
    margin-bottom: 30px;
}
.picture{
    position: relative;
}
.picture:hover{
    height: 110%;
}
#inputs{
    text-align: center ;
}

#search{
    position: relative;
}
img{
    position: relative;
    padding: 7px;

}
#images {
    position: relative;
    margin-top: 30px;
    text-align: center ;
}
#info{
    border: double black 2px;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: 270px;
    margin-right: 270px;
    z-index: 2;
    text-align: left;
    background-color: white;
    overflow: auto;
    min-height: 400px;
}

#demo{
    top: 0;
    right: 0;
    position: absolute;
    padding:0;
}

#aspects{
    margin-right: 100px;
    position: absolute;
    border-spacing: 10px;
    border-collapse: separate;
}
#save{
    position: absolute;
    bottom:0;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: grey;
}
#cancel{
    position: absolute;
    bottom:0;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: grey;
    margin-left: 70px;
}
h2{
    text-align: center ;
    color: red;
    text-shadow: 2px 2px gold;
    font-weight: bold;

}
#pikachu1{
    margin-right:10px;
    height:80px;
    width:82px
}
#pikachu2{
    margin-left:10px;
    height:80px;
    width:82px
}