#header{
    text-align: center ;
    margin-top: 0;
    color: gold;
    margin-right: 100px;
    margin-left: 100px;
    font-weight: bold;
    font-size: xx-large;


}
#name{
    margin-top: 15px;
}
#tableheader {
    margin: auto ;
}
header{
    text-align: center ;
    background-color: red;
    height: 150px;
}
.picture{
    position: relative;
}
.picture:hover{
    height: 110%;
}
#inputs{
    background-color: black;
    height: 50px;
    text-align: center ;
}
#options{
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #4CAF50;
}
.headerbutton{
    position: relative;
    background-color: black;
    color: white;
    font-size: 16px;
    top: 0;
    height: 50px;
    border: none;
}
.headerbutton:hover{
    background-color: #303030;
}

img{
    position: relative;
    padding: 7px;

}
#images {
    position: relative;
    margin-top: 30px;
    text-align: center ;
}
#info{
    border: double black 2px;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: 270px;
    margin-right: 270px;
    z-index: 2;
    text-align: left;
    background-color: white;
    overflow: auto;
    min-height: 400px;
}

#demo{
    margin-top: 40px;
    right: 0;
    position: absolute;
    padding:0;
}

#aspects{
    margin-top: 100px;
    margin-right: 100px;
    position: absolute;
    border-spacing: 10px;
    border-collapse: separate;
}
#save{
    color: white;
    top: 0;
    background-color: #4CAF50;
    height: 50px;
    border: none;
    padding: 16px;
    font-size: 16px;
}
#save:hover{
    background-color: #3e8e41;
}
#fight{
    color: white;
    top: 0;
    background-color: #4CAF50;
    height: 50px;
    border: none;
    padding: 16px;
    font-size: 16px;
}
#fight:hover{
    background-color: #3e8e41;
}
#addtodeck{
    position: absolute;
    bottom: 0;
    margin-left: 140px;
}
#cancel{
    color: white;
    font-size: 16px;
    top: 0;
    height: 50px;
    border: none;
    padding: 16px;
    background-color: #4CAF50;
}
#cancel:hover{
    background-color: #3e8e41;
}
#newdeck{
    position: relative;
    background-color: darkgray;
    color: white;
    font-size: 16px;
    top: 0;
    width: 100% ;
    height: 50px;
    border: none;
}
#newdeck:hover{
    background-color: gray;
}
#Names {
    position: absolute;
    width: 400px;
    height: 50px;
    top:5px;
    margin-left:300px ;
    text-align: center ;
    color: gold;
    font-weight: bold;
    font-size: xx-large;
}
.headerimg{
    height:130px;
    width:145px
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content div:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#mask{
    z-index: 500;
    position: fixed;
    display: none;
    opacity: 0.75;
    background-color: #ccc;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;

}

#pop {
    position: fixed;
    z-index:502;
    border: 1px solid #333333;
    text-align:center;
    background:#ffffff;
}

#battlefield{
    background-image: url("https://i635.photobucket.com/albums/uu74/PocketmonmMaster/1_zps5e1a5a12.png");
    background-size: 720px 336px;
    width: 720px;
    height: 336px;
    z-index:555;
    position: fixed;
    margin-left: 350px;
}

#firstpokemon{
    position: absolute;
    height: 150px;
    width: 150px;
    bottom: -20px;
    margin-left: 100px;
}

#secondpokemon{
    position: absolute;
    height: 150px;
    width: 150px;
    margin-left: 450px;
    margin-bottom: 110px;
}
#secondhealth{
    background-color: white;
    position: absolute;
    height: 70px;
    width: 250px;
    margin-left: 0;
    margin-top: 0;
    border: black solid;
}
#firsthealth {
    background-color: white;
    position: absolute;
    height: 70px;
    width: 250px;
    right: 0;
    bottom: 0;
    border: black solid;
}

#firstblue{
    position: absolute;
    height: 4px;
    width: 200px;
    background-color: blue;
    z-index: 600;
}

#secondblue{
    position: absolute;
    height: 4px;
    width: 200px;
    background-color: blue;
    z-index: 600;
}

#firstwhite{
    position: absolute;
    height: 4px;
    width: 200px;
    background-color: darkgray;
    z-index: 599;
}

#secondwhite{
    position: absolute;
    height: 4px;
    width: 200px;
    background-color: darkgrey;
    z-index: 599;
}
#selections{
    width: 716px;
    height: 150px;
    z-index: 501;
    position: absolute;
    margin-left: 350px;
    background-color: white;
    margin-top: 336px;
    border: black solid;
}
#narration{
    position: absolute;
    height: 50px ;
    width: 712px;
    border: black solid;
    background-color: white;
    font-size: large;
    text-align: left;

}
#firstmove{
    font-size: xx-large;
    text-align: left;
    position: absolute;
    height: 97px;
    width: 358px;
    left: 0;
    background-color: white;
    border: black solid;
    top: 56px;
}
#firstmove:hover{
    background-color: darkgray;

}

#secondmove{
    font-size: xx-large;
    text-align: left;
    position: absolute;
    height: 97px;
    width: 358px;
    right: 0;
    background-color: white;
    border: black solid;
    top: 56px;
}
#secondmove:hover{
    background-color: darkgray;

}
